/* Цвета которые будут задействованы в макете */

:root {
  /* Body */
  --header-body: #ffffff;
  --hero-body: #2f303a;
  --first-section-body: #e5e5e5;
  --secont-section-body: #f5f4fa;
  --footer-body: #2f303a;

  /* Text */
  --hero-text: #ffffff;
  --logo-text-black: #000000;
  --logo-text-blue: #2196f3;
  --header-text: #212121;
  --paragraph-text: #757575;
}

body {
  font-family: "roboto", sans-serif;
  color: #757575;
}

button {
  cursor: pointer;
}

button:hover {
  background-color: var(--logo-text-blue);
  border: none;
}

a {
  text-decoration: none;
}

a:hover {
  color: var(--logo-text-blue);
}

a:focus {
  color: var(--logo-text-blue);
}

ul {
  list-style: none;
}

h1,
h2,
h3 {
  color: var(--header-text);
}

/* !!!Header style!!! */

.cap {
  background-color: var(--header-body);
  line-height: 1.17;
}

/* Logo */
.logo {
  color: var(--logo-text-black);
  font-size: 26px;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
}

.logo-blue {
  color: var(--logo-text-blue);
}

.logo:visited,
.logo:hover {
  color: var(--logo-text-black);
}

.logo-blue:visited {
  color: var(--logo-text-blue);
}

/* Nav Bar */
.navigationtabs {
  color: var(--header-text);
}

.navigationtabs .link {
  color: inherit;
  font-weight: 500;
  font-size: 14px;
}

.navigationtabs .link.active {
  color: var(--logo-text-blue);
}

.navigationtabs .link:hover,
.navigationtabs .link:focus {
  color: var(--logo-text-blue);
}

/* Mail and Phone */
.mail {
  color: var(--paragraph-text);
  font-weight: 500;
  font-size: 14px;
}

.phone {
  color: var(--paragraph-text);
  font-weight: 500;
  font-size: 14px;
}

/* !!!Main!!! */
/* Hero Section */
.hero-section {
  background-color: var(--hero-body);
}

.hero-text {
  color: var(--hero-text);
  font-size: 24px;
  font-weight: 900;
  line-height: 1.36;
}

.hero-button {
  color: #ffffff;
  background-color: var(--logo-text-blue);
  border: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.87;
}

.second-section-header {
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
}

.second-section-paragraph {
  font-size: 14px;
  line-height: 1.71;
}

.examples {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.17;
}

.team-header {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.17;
}

.name {
  font-size: 16px;
  font-weight: 500;
}

.description {
  font-size: 16px;
  font-weight: 400;
}
/* !!!Footer!!! */

.basement {
  background-color: var(--footer-body);
}

/* Footerlogo */
.footer-logo {
  color: var(--header-body);
  font-size: 26px;
  font-family: "Raleway", sans-serif;
  line-height: 1.17;
}

.footer-logo-blue {
  color: var(--logo-text-blue);
}

.footer-logo:visited,
.footer-logo:hover {
  color: var(--header-body);
}

/* Adress */
.office {
  color: #ffffff;
  line-height: 1.71;
}

.footer-mail {
  color: rgba(255, 255, 255, 0.6);
  line-height: 1.71;
}

.footer-phone {
  color: rgba(255, 255, 255, 0.6);
  line-height: 1.71;
}

/* Categories */

.categories-button {
  border: none;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.62;
}

.work-exampl-header {
  font-size: 18px;
  font-weight: 700;
  line-height: 2;
}

.work-example-paragraph {
  font-size: 16px;
  line-height: 1.87;
}
